
.bead {
	width:50px;
	height:50px;
	background-color:lightblue;
	border-radius:50%;
	box-shadow: 0px -11px 23px -3px black inset;
	margin-top:-25px;
	text-align:center;
}
.right {float:right;}
.left {float:left;}
.row {
	clear:both;
	border: solid 1px;
	margin-top:50px;
}	
#raam {
	border: outset 10px;
	padding-bottom:50px;
}
