<div class="raamat">
<div class="pilt">
<img alt="<?php echo($raamat['pilt']); ?>" src="<?php echo($raamat['pilt']); ?>" />
</div>
<div class="pealkiri">
<?php echo($raamat['pealkiri']); ?>
</div>
<div class="autor">
<?php echo($raamat['autor']); ?>
</div>
<div class="sisu">
<?php echo($raamat['sisu']); ?>
</div>
</div>
