body {
	background-color:#0A24A9;
}

#pohi {
	position:fixed;
	height:100px;
	width:100px;
	top:200px;
	left:200px;
}

.rongas {
	position:absolute;
	border-radius:50%;
}

.rongas:nth-child(1) {
	height:100%;
	width:100%;
	border:solid red 1px;	
	background-color:red;
}
.rongas:nth-child(2) {
	height:80%;
	width:80%;
	left:10%;
	top:10%;
	border:solid white 1px;	
	background-color:white;
}
.rongas:nth-child(3) {
	height:60%;
	width:60%;
	left:20%;
	top:20%;
	border:solid red 1px;	
	background-color:red;
}
.rongas:nth-child(4) {
	height:40%;
	width:40%;
	left:30%;
	top:30%;
	border:solid white 1px;
	background-color:white;
}
.rongas:nth-child(5) {
	height:20%;
	width:20%;
	left:40%;
	top:40%;
	border:solid red 1px;	
	background-color:red;
}

img {
	position:fixed;
	width:100%;
	left:0px;
	bottom:0px;
}