	<h3>Vali oma lemmik :)</h3>
	<form action="kontroller.php?mode=tulemus" method="POST">
	<?php 
		foreach ($pildid as $i) {
			echo "<p>";
			echo "<label for=\"p".$i."\">";
			echo "<img src=\"pildid/nameless".$i.".jpg\" alt=\"nimetu ".$i."\" height=\"100\" />";
			echo "</label>";
			echo "<input type=\"radio\" value=\"".$i."\" id=\"p".$i."\" name=\"pilt\"/>";
			echo "</p>\n";
		}
	?>
		<br/>
		<input type="submit" value="Valin!"/>
	</form>

