<?php foreach ($puurid as $key => $value) :?>
<div class="puur">
	<?php foreach ($value as $loom): ?>
		<?php if($_SESSION['role'] == 'admin'): ?>
			<a href = "?page=muuda&id=<?php echo $loom['id']; ?>">
		<?php endif; ?>
		<img src="pildid/<?php echo $loom['liik'] ?>.png">
		<?php if($_SESSION['role'] == 'admin') {echo "</a>";} ?>
	<?php endforeach; ?>
</div>
<?php endforeach; ?>